body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: grey;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image-create {
    width: 300px;
    padding-top: 50px;
}

.col-md-3.LeftAlbumCover {
    height: 350px;
    background-color: grey;
}

.col-md-9.RightAlbumCover {
    background-color: grey;
    height: 350px;
}

.col-md-9.RightAlbumCover h1 {
    padding-top: 30px;
}

.col-md-12.buttonsArtist {
    text-align: center;
}

.buttonMain {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
}